<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- Favicon -->
    <link rel="icon" href="assets/img/card.svg.png" />
    <!-- Device Compatibility -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Ken, Kenneth, Bigler, Kenneth Bigler, Ken Bigler, Resume, HTML, CSS, JavaScript, C++, C, Software Developer, Web, Web Developer, Web Technologist, Santa Clara, SCU, scu, Santa Clara University, hours, hour reporting, timecard, time, card">
    <meta name="description" content="This is a site to report your hours in a timecard or time card">
    <meta name="author" content="Kenneth Bigler">
    <title>Cards</title>
    <script type="text/javascript">
    [
        'https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js',
        'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js',
        'https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js',
        'https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js',
        'assets/js/cards.js',
        'app/app.modules.js',
        'app/app.routes.js',
        'app/components/home/HomeController.js',
        'app/components/blackjack/BlackjackController.js',
        'app/components/blackjack/BlackjackService.js',
        'app/components/craps/CrapsController.js',
        'app/components/craps/CrapsService.js',
        'app/components/poker/PokerController.js',
        'app/components/poker/PokerService.js',
        'app/components/roulette/RouletteController.js',
        'app/components/roulette/RouletteService.js',
        'app/components/solitaire/SolitaireController.js',
        'app/components/solitaire/SolitaireService.js'
    ].forEach(function(src) {
        var script = document.createElement('script');
        script.src = src;
        script.async = false; 
        document.head.appendChild(script);
    });
    </script>
    <base href="/casino/" />
</head>
<!---------------------------------------------------------------------------------------------------->
<body ng-app="myApp" ng-controller="HomeController">
<div></div>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type='text/css' media="all">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" type="text/css" media="all">
<!-- Google Font -->
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans' type='text/css' media="all">
<!-- Custom Styles -->
<link rel="stylesheet" href="assets/css/mystyles.css" type='text/css' media="all">
<link rel="stylesheet" href="assets/css/mobile.css" type='text/css' media="(max-width: 500px)">
<!-- Start Body for Real -->
<div class="container-fluid">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/" ng-click="closeNav()">CG ${{ storage.savings[0] }}</a>
            </div>
            <!-- Menu -->
            <div id="navbar" class="navbar-collapse collapse navbar-right navbar-nav">
                <ul class="nav navbar-nav">
                    <li ng-class="getClass('/')"><a href="#/" ng-click="closeNav()">Home</a></li>
                    <li ng-class="getClass('/blackjack')"><a href="#/blackjack" ng-click="closeNav()">Blackjack</a></li>
                    <!--<li ng-class="getClass('/craps')"><a href="#/craps" ng-click="closeNav()">Craps</a></li>-->
                    <li ng-class="getClass('/poker')"><a href="#/poker" ng-click="closeNav()">Poker</a></li>
                    <li ng-class="getClass('/roulette')"><a href="#/roulette" ng-click="closeNav()">Roulette</a></li>
                    <!--<li ng-class="getClass('/solitaire')"><a href="#/solitaire" ng-click="closeNav()">Solitaire</a></li>-->
                </ul>
            </div><!-- /Menu -->
        </div>
    </nav><!-- /Navigation -->
    <!-- Content loaded via Angular -->
    <div ng-view></div>
</div><!-- /container -->
</body>
<div ng-if="false">
    <h1>Loading the application, please hold on...</h1>
</div>
</html>
<!--
Update MVC:
    https://www.airpair.com/angularjs/posts/top-10-mistakes-angularjs-developers-make
Create Cards:
    https://github.com/selfthinker/CSS-Playing-Cards/blob/master/cards.css
-->