<div class="row">
    <header></header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <a class="btn btn-default btn-lg btn-block handc" role="button" ng-click="storage.reset()" ng-hide="df">Reset</a>
            </div>
            <div class="col-sm-2" ng-repeat="money in storage.savings track by $index">
                <h4 class="naration">{{ storage.names[$index] }}: {{ money }}</h4>
            </div>
            <form class="form-inline">
                <div class="form-group col-sm-2" ng-repeat="name in storage.names track by $index">
                    <input type="text" class="form-control" ng-model="name">
                </div>
            </form>
        </div>        
    </div>
</div>