<header></header>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <button type="button" class="btn btn-default btn-lg btn-block" ng-click="play()">{{ step }}</button>
        </div>
        <div class="col-sm-9">
            <table class="table table-bordered roulettebet handc">
                <tbody>
                    <tr>
                        <td ng-click="bet(0)"  class="s00" rowspan="2">00 {{ bets[0] }}</td>
                        <td ng-click="bet(1)"  class="s00 s3">{{ bets[1] }}</td>
                        <td ng-click="bet(2)"  class="red s3">3 {{ bets[2] }}</td>
                        <td ng-click="bet(3)"  class="s3 s6"></td>
                        <td ng-click="bet(4)"  class="black s6">6</td>
                        <td ng-click="bet(5)"  class="s6 s9"></td>
                        <td ng-click="bet(6)"  class="red s9">9</td>
                        <td ng-click="bet(7)"  class="s9 s12"></td>
                        <td ng-click="bet(8)"  class="red s12">12</td>
                        <td ng-click="bet(9)"  class="s12 s15"></td>
                        <td ng-click="bet(10)" class="black s15">15</td>
                        <td ng-click="bet(11)" class="s15 s18"></td>
                        <td ng-click="bet(12)" class="red s18">18</td>
                        <td ng-click="bet(13)" class="s18 s21"></td>
                        <td ng-click="bet(14)" class="red s21">21</td>
                        <td ng-click="bet(15)" class="s21 s24"></td>
                        <td ng-click="bet(16)" class="black s24">24</td>
                        <td ng-click="bet(17)" class="s24 s27"></td>
                        <td ng-click="bet(18)" class="red s27">27</td>
                        <td ng-click="bet(19)" class="s27 s30"></td>
                        <td ng-click="bet(20)" class="red s30">30</td>
                        <td ng-click="bet(21)" class="s30 s33"></td>
                        <td ng-click="bet(22)" class="black s33">33</td>
                        <td ng-click="bet(23)" class="s33 s36"></td>
                        <td ng-click="bet(24)" class="red s36">36</td>
                        <td ng-click="bet(25)" class="s3 s6 s9 s12 s15 s18 s21 s24 s27 s30 s33 s36">2-1</td>
                    </tr>
                    <tr>
                        <td ng-click="bet(26)" class="s00 s2 s3"></td>
                        <td ng-click="bet(27)" class="s2 s3"></td>
                        <td ng-click="bet(28)" class="s2 s3 s5 s6"></td>
                        <td ng-click="bet(29)" class="s5 s6"></td>
                        <td ng-click="bet(30)" class="s5 s6 s8 s9"></td>
                        <td ng-click="bet(31)" class="s8 s9"></td>
                        <td ng-click="bet(32)" class="s8 s9 s11 s12"></td>
                        <td ng-click="bet(33)" class="s11 s12"></td>
                        <td ng-click="bet(34)" class="s11 s12 s14 s15"></td>
                        <td ng-click="bet(35)" class="s14 s15"></td>
                        <td ng-click="bet(36)" class="s14 s15 s17 s18"></td>
                        <td ng-click="bet(37)" class="s17 s18"></td>
                        <td ng-click="bet(38)" class="s17 s18 s20 s21"></td>
                        <td ng-click="bet(39)" class="s20 s21"></td>
                        <td ng-click="bet(40)" class="s20 s21 s23 s24"></td>
                        <td ng-click="bet(41)" class="s23 s24"></td>
                        <td ng-click="bet(42)" class="s23 s24 s26 s27"></td>
                        <td ng-click="bet(43)" class="s26 s27"></td>
                        <td ng-click="bet(44)" class="s26 s27 s29 s30"></td>
                        <td ng-click="bet(45)" class="s29 s30"></td>
                        <td ng-click="bet(46)" class="s29 s30 s32 s33"></td>
                        <td ng-click="bet(47)" class="s32 s33"></td>
                        <td ng-click="bet(48)" class="s32 s33 s35 s36"></td>
                        <td ng-click="bet(49)" class="s35 s36"></td>
                        <td ng-click="bet(50)" class="s2 s3 s5 s6 s8 s9 s11 s12 s14 s15 s17 s18 s20 s21 s23 s24 s26 s27 s29 s30 s32 s33 s35 s36"></td>
                    </tr>
                    <tr>
                        <td ng-click="bet(51)" class="s00 s0"></td>
                        <td ng-click="bet(52)" class="s00 s0 s2"></td>
                        <td ng-click="bet(53)" class="black s2">2</td>
                        <td ng-click="bet(54)" class="s2 s5"></td>
                        <td ng-click="bet(55)" class="red s5">5</td>
                        <td ng-click="bet(56)" class="s5 s8"></td>
                        <td ng-click="bet(57)" class="black s8">8</td>
                        <td ng-click="bet(58)" class="s8 s11"></td>
                        <td ng-click="bet(59)" class="black s11">11</td>
                        <td ng-click="bet(60)" class="s11 s14"></td>
                        <td ng-click="bet(61)" class="red s14">14</td>
                        <td ng-click="bet(62)" class="s14 s17"></td>
                        <td ng-click="bet(63)" class="black s17">17</td>
                        <td ng-click="bet(64)" class="s17 s20"></td>
                        <td ng-click="bet(65)" class="black s20">20</td>
                        <td ng-click="bet(66)" class="s20 s23"></td>
                        <td ng-click="bet(67)" class="red s23">23</td>
                        <td ng-click="bet(68)" class="s23 s26"></td>
                        <td ng-click="bet(69)" class="black s26">26</td>
                        <td ng-click="bet(70)" class="s26 s29"></td>
                        <td ng-click="bet(71)" class="black s29">29</td>
                        <td ng-click="bet(72)" class="s29 s32"></td>
                        <td ng-click="bet(73)" class="red s32">32</td>
                        <td ng-click="bet(74)" class="s32 s35"></td>
                        <td ng-click="bet(75)" class="black s35">35</td>
                        <td ng-click="bet(76)" class="s2 s5 s8 s11 s14 s17 s20 s23 s26 s29 s32 s35">2-1</td>
                    </tr>
                    <tr>
                        <td ng-click="bet(77)"  class="s0" rowspan="2">0</td>
                        <td ng-click="bet(78)"  class="s0 s1 s2"></td>
                        <td ng-click="bet(79)"  class="s1 s2"></td>
                        <td ng-click="bet(80)"  class="s1 s2 s4 s5"></td>
                        <td ng-click="bet(81)"  class="s4 s5"></td>
                        <td ng-click="bet(82)"  class="s4 s5 s7 s8"></td>
                        <td ng-click="bet(83)"  class="s7 s8"></td>
                        <td ng-click="bet(84)"  class="s7 s8 s10 s11"></td>
                        <td ng-click="bet(85)"  class="s10 s11"></td>
                        <td ng-click="bet(86)"  class="s10 s11 s13 s14"></td>
                        <td ng-click="bet(87)"  class="s13 s14"></td>
                        <td ng-click="bet(88)"  class="s13 s14 s16 s17"></td>
                        <td ng-click="bet(89)"  class="s16 s17"></td>
                        <td ng-click="bet(90)"  class="s16 s17 s19 s20"></td>
                        <td ng-click="bet(91)"  class="s19 s20"></td>
                        <td ng-click="bet(92)"  class="s19 s20 s22 s23"></td>
                        <td ng-click="bet(93)"  class="s22 s23"></td>
                        <td ng-click="bet(94)"  class="s22 s23 s25 s26"></td>
                        <td ng-click="bet(95)"  class="s25 s26"></td>
                        <td ng-click="bet(96)"  class="s25 s26 s28 s29"></td>
                        <td ng-click="bet(97)"  class="s28 s29"></td>
                        <td ng-click="bet(98)"  class="s28 s29 s31 s32"></td>
                        <td ng-click="bet(99)"  class="s31 s32"></td>
                        <td ng-click="bet(100)"  class="s31 s32 s34 s35"></td>
                        <td ng-click="bet(101)" class="s34 s35"></td>
                        <td ng-click="bet(102)" class="s1 s2 s4 s5 s7 s8 s10 s11 s13 s14 s16 s17 s19 s20 s22 s23 s25 s26 s28 s29 s31 s32 s34 s35"></td>
                    </tr>
                    <tr>
                        <td ng-click="bet(103)" class="s0 s1"></td>
                        <td ng-click="bet(104)" class="red s1">1</td>
                        <td ng-click="bet(105)" class="s1 s4"></td>
                        <td ng-click="bet(106)" class="black s4">4</td>
                        <td ng-click="bet(107)" class="s4 s7"></td>
                        <td ng-click="bet(108)" class="red s7">7</td>
                        <td ng-click="bet(109)" class="s7 s10"></td>
                        <td ng-click="bet(110)" class="black s10">10</td>
                        <td ng-click="bet(111)" class="s10 s13"></td>
                        <td ng-click="bet(112)" class="black s13">13</td>
                        <td ng-click="bet(113)" class="s13 s16"></td>
                        <td ng-click="bet(114)" class="red s16">16</td>
                        <td ng-click="bet(115)" class="s16 s19"></td>
                        <td ng-click="bet(116)" class="black s19">19</td>
                        <td ng-click="bet(117)" class="s19 s22"></td>
                        <td ng-click="bet(118)" class="black s22">22</td>
                        <td ng-click="bet(119)" class="s22 s25"></td>
                        <td ng-click="bet(120)" class="red s25">25</td>
                        <td ng-click="bet(121)" class="s25 s28"></td>
                        <td ng-click="bet(122)" class="red s28">28</td>
                        <td ng-click="bet(123)" class="s28 s31"></td>
                        <td ng-click="bet(124)" class="black s31">31</td>
                        <td ng-click="bet(125)" class="s31 s34"></td>
                        <td ng-click="bet(126)" class="red s34">34</td>
                        <td ng-click="bet(127)" class="s1 s4 s7 s10 s13 s16 s19 s22 s25 s28 s31 s34">2-1</td>
                    </tr>
                    <tr>
                        <td class="noborder mousec" rowspan="3"></td>
                        <td ng-click="bet(128)" class="s0 s00 s1 s2 s3"></td>
                        <td ng-click="bet(129)" class="s1 s2 s3"></td>
                        <td ng-click="bet(130)" class="s1 s2 s3 s4 s5 s6"></td>
                        <td ng-click="bet(131)" class="s4 s5 s6"></td>
                        <td ng-click="bet(132)" class="s4 s5 s6 s7 s8 s9"></td>
                        <td ng-click="bet(133)" class="s7 s8 s9"></td>
                        <td ng-click="bet(134)" class="s7 s8 s9 s10 s11 s12"></td>
                        <td ng-click="bet(135)" class="s10 s11 s12"></td>
                        <td ng-click="bet(136)" class="s10 s11 s12 s13 s14 s15"></td>
                        <td ng-click="bet(137)" class="s13 s14 s15"></td>
                        <td ng-click="bet(138)" class="s13 s14 s15 s16 s17 s18"></td>
                        <td ng-click="bet(139)" class="s16 s17 s18"></td>
                        <td ng-click="bet(140)" class="s16 s17 s18 s19 s20 s21"></td>
                        <td ng-click="bet(141)" class="s19 s20 s21"></td>
                        <td ng-click="bet(142)" class="s19 s20 s21 s22 s23 s24"></td>
                        <td ng-click="bet(143)" class="s22 s23 s24"></td>
                        <td ng-click="bet(144)" class="s22 s23 s24 s25 s26 s27"></td>
                        <td ng-click="bet(145)" class="s25 s26 s27"></td>
                        <td ng-click="bet(146)" class="s25 s26 s27 s28 s29 s30"></td>
                        <td ng-click="bet(147)" class="s28 s29 s30"></td>
                        <td ng-click="bet(148)" class="s28 s29 s30 s31 s32 s33"></td>
                        <td ng-click="bet(149)" class="s31 s32 s33"></td>
                        <td ng-click="bet(150)" class="s31 s32 s33 s34 s35 s36"></td>
                        <td ng-click="bet(151)" class="s34 s35 s36"></td>
                        <td class="noborder mousec" rowspan="3"></td>
                    </tr>
                    <tr>
                        <td ng-click="bet(152)" class="s1 s2 s3 s4 s5 s6 s7 s8 s9 s10 s11 s12" colspan="8">1nd 12</td>
                        <td ng-click="bet(153)" class="s13 s14 s15 s16 s17 s18 s19 s20 s21 s22 s23 s24" colspan="8">2nd 12</td>
                        <td ng-click="bet(154)" class="s25 s26 s27 s28 s29 s30 s31 s32 s33 s34 s35 s36" colspan="8">3rd 12</td>
                    </tr>
                    <tr>
                        <td ng-click="bet(155)" class="s1 s2 s3 s4 s5 s6 s7 s8 s9 s10 s11 s12 s13 s14 s15 s16 s17 s18" colspan="4">1-18</td>
                        <td ng-click="bet(156)" class="s2 s4 s6 s8 s10 s12 s14 s16 s18 s20 s22 s24 s26 s28 s30 s32 s34 s36" colspan="4">Even</td>
                        <td ng-click="bet(157)" class="red s1 s3 s5 s7 s9 s12 s14 s16 s18 s21 s23 s25 s27 s28 s30 s32 s34 s36" colspan="4">Red</td>
                        <td ng-click="bet(158)" class="black s2 s4 s6 s8 s10 s11 s13 s15 s17 s19 s20 s22 s24 s26 s29 s31 s33 s35" colspan="4">Black</td>
                        <td ng-click="bet(159)" class="s1 s3 s5 s7 s9 s11 s13 s15 s17 s19 s21 s23 s25 s27 s29 s31 s33 s35" colspan="4">Odd</td>
                        <td ng-click="bet(160)" class="s19 s20 s21 s22 s23 s24 s25 s26 s27 s28 s29 s30 s31 s32 s33 s34 s35 s36" colspan="4">19-36</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>