<header></header>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9">
            <h2 class="naration" ng-show="players">Player {{ turn + 1 }}</h2>
            <h2 class="naration" ng-hide="players">{{ turn }}</h2>
            <div ng-repeat="card in hand track by $index" class="playingCard handc" ng-class="dropped[$index]" ng-style='card.color' ng-click="toss($index)">
                {{ card.name }}
                <h2 class="suit">{{ card.suit }}</h2>
            </div>
            <span class="clear"></span>
        </div>
        <div class="col-sm-3">
            <a class="btn btn-default btn-lg btn-block handc" role="button" ng-click="discard()" ng-hide="df">Discard</a>
            <a class="btn btn-default btn-lg btn-block handc" role="button" ng-click="nextHand()" ng-hide="nf">Next Player</a>
            <a class="btn btn-default btn-lg btn-block handc" role="button" ng-click="newGame()">New Game</a>
        </div>
    </div>
</div>