<header></header>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9">
            <div style="height: 120px;">
                <div style="width: 30px; height: 50px; background-color: black; border-radius: 5px; float:left; margin: 5px; color:white;" ng-click="toss(0)">1</div>
                <div style="width: 30px; height: 50px; background-color: black; border-radius: 5px; float:left; margin: 5px; color:white;" ng-click="toss(1)">2</div>
                <div style="width: 30px; height: 50px; background-color: black; border-radius: 5px; float:left; margin: 5px; color:white;" ng-click="toss(2)">3</div>
                <div style="width: 30px; height: 50px; background-color: black; border-radius: 5px; float:left; margin: 5px; color:white;" ng-click="toss(3)">4</div>
                <div style="width: 30px; height: 50px; background-color: black; border-radius: 5px; float:left; margin: 5px; color:white;" ng-click="toss(4)">5</div>
            </div>
        </div>
        <div class="col-sm-3">
            <a class="btn btn-default btn-lg btn-block handc" role="button" ng-click="discard()">Discard</a>
            <a class="btn btn-default btn-lg btn-block handc" role="button" ng-click="evaluate()">Evaluate</a>
        </div>
    </div>
</div>