<header></header>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-3">
                    <h2 class="naration">Humans:&nbsp;</h2>
                </div>
                <div class="col-sm-7">
                    <a id="b1" class="btn btn-default btn-lg handc btn-danger" role="button" ng-click="updateAI(1)">1</a>
                    <a id="b2" class="btn btn-default btn-lg handc" role="button" ng-click="updateAI(2)">2</a>
                    <a id="b3" class="btn btn-default btn-lg handc" role="button" ng-click="updateAI(3)">3</a>
                    <a id="b4" class="btn btn-default btn-lg handc" role="button" ng-click="updateAI(4)">4</a>
                    <a id="b5" class="btn btn-default btn-lg handc" role="button" ng-click="updateAI(5)">5</a>
                    <a id="b6" class="btn btn-default btn-lg handc" role="button" ng-click="updateAI(6)">6</a>
                </div>
                <div class="col-sm-2">
                    <h2 class="naration">AI: {{ ai }}</h2>
                </div>
                <div class="col-sm-12">
                    <hr />
                    <h2 class="naration">Dealer</h2>
                    <div class="playingCard handc" ng-style='dealer[0].color' ng-show="st">
                        {{ dealer[0].name }}
                        <h2 class="suit">{{ dealer[0].suit }}</h2>
                    </div>
                    <div ng-repeat="card in dealer track by $index" class="playingCard handc" ng-style='card.color' ng-hide="st">
                        {{ card.name }}
                        <h2 class="suit">{{ card.suit }}</h2>
                    </div>
                    <span class="clear"></span>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-2" ng-repeat="loss in hands track by $index">
                            <h2 class="naration inline">Player {{ $index + 1 }}:&nbsp;</h2>
                            <div ng-repeat="card in loss" class="playingCard handc" ng-style='card.color'>
                                {{ card.name }}
                                <h2 class="suit">{{ card.suit }}</h2>
                            </div>
                            <span class="clear"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-default btn-lg btn-block" ng-show="st && h" ng-click="hit()">Hit</button>
            <button type="button" class="btn btn-default btn-lg btn-block" ng-show="st" ng-click="stay()">{{ stayb }}</button>
            <button type="button" class="btn btn-default btn-lg btn-block" ng-show="st && sp" ng-click="split()">Split</button>
            <button type="button" class="btn btn-default btn-lg btn-block" ng-show="st && d" ng-click="double()">Double Down</button>
            <button type="button" class="btn btn-default btn-lg btn-block" ng-hide="st" ng-click="newGame()">New Game</button>
            <button type="button" class="btn btn-default btn-lg btn-block" ng-hide="st" data-toggle="modal" data-target="#rules">Blackjack Rules</button>
        </div>
    </div>
    <!-- Modal -->
    <div id="rules" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Blackjack Rules</h3>
                </div>
                <div class="modal-body">
                    <h4>Objective:</h4>
                    <p>Get as close to 21 as you can, without going over. Each card is worth it's number, J/Q/K are worth 10, and an Ace is worth 11 unless you go over 21, then it is worth 1.</p>
                    <br />
                    <h4>Blackjack:</h4>
                    <p>Delt an Ace and a 10/J/Q/K, this casino pays 3:2, but Vegas casinos do 6:5.</p>
                    <br />
                    <h4>Hit:</h4>
                    <p>Get an extra card which adds to your total.</p>
                    <br />
                    <h4>Stay:</h4>
                    <p>Move to the next player.</p>
                    <br />
                    <h4>Double Down:</h4>
                    <p>This option is available with a two card hand; before another card has been drawn double your bet and receive one (and only one) additional card to your hand. Play then moves to the next player.</p>
                    <br />
                    <h4>Splitting Pairs:</h4>
                    <p>When you are dealt a pair of cards of the same rank, you are allowed to split into two separate hands and play them independently. You will match your bet for the second hand. A double after a split is ok</p>
                    <br />
                    <h4>Resplitting:</h4>
                    <p>When you get additional pairs in the first two cards of a hand you can resplit. Typically a player is allowed to split up to 3 times (delt 4 of a kind).</p>
                    <br />
                    <h4>Splitting Aces:</h4>
                    <p>Player is limited to drawing only one additional card on each Ace. If you draw a ten-valued card on one of your split Aces, the hand is not considered a Blackjack (it is treated as a normal 21). You can re-split Aces.</p>
                    <br />
                    <h4>Other Rules:</h4>
                    <ul>
                        <li>Dealer hits on 16 or less and soft 17</li>
                        <li>Minimum bet is $5</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>