<header></header>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-3" ng-show="p">
                    <h2 class="naration">Humans:&nbsp;</h2>
                </div>
                <div class="col-sm-7" ng-show="p">
                    <a id="b1" class="btn btn-default btn-lg handc btn-danger" role="button" ng-click="updateAI(1)">1</a>
                    <a id="b2" class="btn btn-default btn-lg handc" role="button" ng-click="updateAI(2)">2</a>
                    <a id="b3" class="btn btn-default btn-lg handc" role="button" ng-click="updateAI(3)">3</a>
                    <a id="b4" class="btn btn-default btn-lg handc" role="button" ng-click="updateAI(4)">4</a>
                    <a id="b5" class="btn btn-default btn-lg handc" role="button" ng-click="updateAI(5)">5</a>
                    <a id="b6" class="btn btn-default btn-lg handc" role="button" ng-click="updateAI(6)">6</a>
                </div>
                <div class="col-sm-2" ng-show="p">
                    <h2 class="naration">AI: {{ ai }}</h2>
                </div>
                <div class="col-sm-12">
                    <h2 class="naration" ng-hide="p">Dealer</h2>
                    <div class="playingCard handc" ng-style='dealer[0].color' ng-show="st" ng-hide="p">
                        {{ dealer[0].name }}
                        <h2 class="suit">{{ dealer[0].suit }}</h2>
                    </div>
                    <div ng-repeat="card in dealer track by $index" class="playingCard handc" ng-style='card.color' ng-hide="st">
                        {{ card.name }}
                        <h2 class="suit">{{ card.suit }}</h2>
                    </div>
                    <span class="clear"></span>
                    <hr />
                    <div class="row">
                        <div class="col-sm-2" ng-repeat="loss in hands track by $index">
                            <h2 class="naration" ng-show="!st || sh">{{ storage.names[$index] }}:&nbsp;</h2>
                            <h2 class="naration" ng-hide="!st || sh">{{ storage.names[turn] }}:&nbsp;</h2>
                            <div ng-repeat="card in loss" class="playingCard handc" ng-style='card.color' ng-hide="p">
                                {{ card.name }}
                                <h2 class="suit">{{ card.suit }}</h2>
                            </div>
                            <span class="clear"></span>
                            <form class="form-inline" role="form">
                                <div class="form-group bet" ng-show="p">
                                    <div class="input-group-btn-vertical inline">
                                        <button class="btn btn-default" type="button" ng-click="setBet(5,$index)"><i class="fa fa-caret-up"></i></button>
                                        <button class="btn btn-default" type="button" ng-click="setBet(-5,$index)"><i class="fa fa-caret-down"></i></button>
                                    </div>
                                    <h2 class="naration inline">&nbsp;Bet: {{ bet[$index] }}</h2>
                                    <span class="clear"></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-default btn-lg btn-block" ng-show="sh" ng-click="showHand()">Deal</button>
            <button type="button" class="btn btn-default btn-lg btn-block" ng-show="st && h" ng-click="hit()">Hit</button>
            <button type="button" class="btn btn-default btn-lg btn-block" ng-hide="st && sh" ng-show="st" ng-click="stay()">Stay</button>
            <button type="button" class="btn btn-default btn-lg btn-block" ng-show="st && sp" ng-click="split()">Split</button>
            <button type="button" class="btn btn-default btn-lg btn-block" ng-show="st && d" ng-click="double()">Double Down</button>
            <button type="button" class="btn btn-default btn-lg btn-block" ng-hide="st" ng-click="newGame()">New Game</button>
            <button type="button" class="btn btn-default btn-lg btn-block" ng-show="sh" data-toggle="modal" data-target="#rules">Blackjack Rules</button>
        </div>
    </div>
    <!-- Modal -->
    <div id="rules" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Blackjack Rules</h3>
                </div>
                <div class="modal-body">
                    <h4>Objective:</h4>
                    <p>Get as close to 21 as you can, without going over. Each card is worth it's number, J/Q/K are worth 10, and an Ace is worth 11 unless you go over 21, then it is worth 1.</p>
                    <br />
                    <h4>Blackjack:</h4>
                    <p>Delt an Ace and a 10/J/Q/K, this casino pays 3:2, but Vegas casinos do 6:5.</p>
                    <br />
                    <h4>Hit:</h4>
                    <p>Get an extra card which adds to your total.</p>
                    <br />
                    <h4>Stay:</h4>
                    <p>Move to the next player.</p>
                    <br />
                    <h4>Double Down:</h4>
                    <p>This option is available with a two card hand; before another card has been drawn double your bet and receive one (and only one) additional card to your hand. Play then moves to the next player.</p>
                    <br />
                    <h4>Splitting Pairs:</h4>
                    <p>When you are dealt a pair of cards of the same rank, you are allowed to split into two separate hands and play them independently. You will match your bet for the second hand. A double after a split is ok</p>
                    <br />
                    <h4>Resplitting:</h4>
                    <p>When you get additional pairs in the first two cards of a hand you can resplit. Typically a player is allowed to split up to 3 times (delt 4 of a kind).</p>
                    <br />
                    <h4>Splitting Aces:</h4>
                    <p>Player is limited to drawing only one additional card on each Ace. If you draw a ten-valued card on one of your split Aces, the hand is not considered a Blackjack (it is treated as a normal 21). You can re-split Aces.</p>
                    <br />
                    <h4>Other Rules:</h4>
                    <ul>
                        <li>Dealer hits on 16 or less and soft 17</li>
                        <li>Minimum bet is $5</li>
                    </ul>
                    <h4>AI Algorithm:</h4>
                    <ul>
                        <li>House Rules: 6 decks, H17, DAS, No Surrender, Peek</li>
                        <li>Estimated casino edge for these rules: 0.66%</li>
                    </ul>
                    
                    
                    <table class="table table-striped table-bordered table-hover">
                        <thead><th colspan="11">Hard Totals</th></thead>
                        <tbody>
                            <tr><td rowspan="2">Your<br>Hand</td><td colspan="10">Dealer</td></tr>
                            <tr><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>T</td><td>A</td></tr>
                            <tr><td>Hard 5</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td></tr>
                            <tr><td>Hard 6</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td></tr>
                            <tr><td>Hard 7</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td></tr>
                            <tr><td>Hard 8</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td></tr>
                            <tr><td>Hard 9</td><td class="success">H</td><td class="info">D</td><td class="info">D</td><td class="info">D</td><td class="info">D</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td></tr>
                            <tr><td>Hard 10</td><td class="info">D</td><td class="info">D</td><td class="info">D</td><td class="info">D</td><td class="info">D</td><td class="info">D</td><td class="info">D</td><td class="info">D</td><td class="success">H</td><td class="success">H</td></tr>
                            <tr><td>Hard 11</td><td class="info">D</td><td class="info">D</td><td class="info">D</td><td class="info">D</td><td class="info">D</td><td class="info">D</td><td class="info">D</td><td class="info">D</td><td class="info">D</td><td class="info">D</td></tr>
                            <tr><td>Hard 12</td><td class="success">H</td><td class="success">H</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td></tr>
                            <tr><td>Hard 13</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td></tr>
                            <tr><td>Hard 14</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td></tr>
                            <tr><td>Hard 15</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td></tr>
                            <tr><td>Hard 16</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td></tr>
                            <tr><td>Hard 17</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td></tr>
                            <tr><td>Hard 18+</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td></tr>
                        </tbody>
                        <thead><th colspan="11">Soft Totals</th></thead>
                        <tbody>
                            <tr><td rowspan="2">Your<br>Hand</td><td colspan="10">Dealer</td></tr>
                            <tr><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>T</td><td>A</td></tr>
                            <tr><td>Ace + 2</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="info">D</td><td class="info">D</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td></tr>
                            <tr><td>Ace + 3</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="info">D</td><td class="info">D</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td></tr>
                            <tr><td>Ace + 4</td><td class="success">H</td><td class="success">H</td><td class="info">D</td><td class="info">D</td><td class="info">D</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td></tr>
                            <tr><td>Ace + 5</td><td class="success">H</td><td class="success">H</td><td class="info">D</td><td class="info">D</td><td class="info">D</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td></tr>
                            <tr><td>Ace + 6</td><td class="success">H</td><td class="info">D</td><td class="info">D</td><td class="info">D</td><td class="info">D</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td></tr>
                            <tr><td>Ace + 7</td><td class="info">DS</td><td class="info">DS</td><td class="info">DS</td><td class="info">DS</td><td class="info">DS</td><td class="danger">S</td><td class="danger">S</td><td class="success">H</td><td class="success">H</td><td class="success">H</td></tr>
                            <tr><td>Ace + 8</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="info">DS</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td></tr>
                            <tr><td>Ace + 9</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td></tr>
                        </tbody>
                        <thead><th colspan="11">Pairs</th></thead>
                        <tbody>
                            <tr><td rowspan="2">Your<br>Hand</td><td colspan="10">Dealer</td></tr>
                            <tr><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>T</td><td>A</td></tr>
                            <tr><td>(2,2)</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td></tr>
                            <tr><td>(3,3)</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td></tr>
                            <tr><td>(4,4)</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="warning">P</td><td class="warning">P</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td></tr>
                            <tr><td>(5,5)</td><td class="info">D</td><td class="info">D</td><td class="info">D</td><td class="info">D</td><td class="info">D</td><td class="info">D</td><td class="info">D</td><td class="info">D</td><td class="success">H</td><td class="success">H</td></tr>
                            <tr><td>(6,6)</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td></tr>
                            <tr><td>(7,7)</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="success">H</td><td class="success">H</td><td class="success">H</td><td class="success">H</td></tr>
                            <tr><td>(8,8)</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td></tr>
                            <tr><td>(9,9)</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="danger">S</td><td class="warning">P</td><td class="warning">P</td><td class="danger">S</td><td class="danger">S</td></tr>
                            <tr><td>(T,T)</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td><td class="danger">S</td></tr>
                            <tr><td>(A,A)</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td><td class="warning">P</td></tr>
                        </tbody>
                        <thead><th colspan="11">Key</th></thead>
                        <tbody>
                            <tr>
                                <td class="success">H</td><td colspan="2">= Hit</td>
                                <td class="danger">S</td><td colspan="3">= Stand</td>
                                <td class="warning">P</td><td colspan="3">= Split</td>
                            </tr>
                            <tr><td class="info">D</td><td colspan="10">= Double (Hit if not allowed)</td></tr>
                            <tr><td class="info">DS</td><td colspan="10">= Double (Stand if not allowed)</td></tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>